/*!
Theme Name: Agence Point Com
Theme URI: http://agencepoint.com
Author: Agence Point Com
Author URI: https://agencepoint.com
Description: Thème Agence Point Com
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: agencepointcom
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.


Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100%; /* Body take 100 % of pages */
	margin: 0;
}

main {
	min-height: 100vh; /* set the main with min-height = 100% */
}

mark{
	background-color: rgba(0,0,0,0);
    color: inherit;
    font-weight: 600;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
a{
	cursor: pointer;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
	font-size: 15px;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
    outline:none;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/




/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}
.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
a{
	transition: 500ms all ease;
	cursor: pointer;
}
.grecaptcha-badge{
    display: none;
}

.fleche_scroll{
    position: fixed;
    bottom: 25px;
    right: 50px;
    cursor: pointer;
    z-index: 3000002;
    display: none;
}
.fleche_scroll i{
    color: #333;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    font-size: 22px;
}
.fleche_scroll:hover i{
    background-color: #333;
    color: #FFF;
}

.edit-link{
	display: none;
}
.single-post .post-thumbnail{
	text-align: center;
}

/*------------ My CSS ----------------------------------------------*/

/*------------ For all pages ----------------------------------------------*/
/* Global site */
.site {
	background-color: #f9f7f4;
}

/* Footer site */
.site-info {
	text-align: center;
	width: 100%;
	color: #6f6a65;
	margin-bottom: 15px;
	font-size: 14px;
}
.site-info > span > a {
	text-decoration: none;
	color: #6f6a65;
}

.close {
	margin: 0;
	text-align: end;
}


/*------------ Page D'acceuil ----------------------------------------------*/
.page-template-template-accueil	.site-header {
display: none;
}
.page-template-template-accueil p {
	margin-right: 1rem;
	text-align: center;
}


.page-template-template-accueil .site-content {
	background: url("./img/HEXAGONES.png") 50% 5% / contain no-repeat ;
	background-size: 11%;
}

.page-template-template-accueil .a-propos-container-w {
	flex-direction: row-reverse;
	margin-left: 2rem;
}

.accueil-entry-header {
	width: 100%;
}
	.acceuil-conteneur-picture {
		width: 30%;
		height: 30%;
		margin: 20rem auto;

	}
		.acceuil-conteneur-picture img {
			width: 100%;
			height: 100%;
		}

.accueil-container-content {
	width: 40%;
}
/*------------ Page À-propos ----------------------------------------------*/
.d-fs-20 > h2 > a {
	font-size: 20px;
}

.d-fs-20 {
	margin: 7rem;
}

.page-template-template-a-propos .honeycomb {
	background-image: url("./img/HEXAGONES.png");
	background-repeat: no-repeat;
	background-position: 10% 100%;
	background-size: 15%;
}

	.page-template-template-a-propos .site {
		background-image: url("./img/HEXAGONES.png");
		background-repeat: no-repeat;
		background-position: 100% 0;
		background-size: 15%;
	}

.page-template-template-a-propos .site-header {
	margin-bottom: 5rem;
}

.page-template-template-a-propos .content-area {
	width: 90%;
	margin: auto;
}

/* Top container */
.a-propos-entry-header {
	display: flex;
	flex-direction: row-reverse;
	background-size: 13%;
	justify-content: space-between;
}

/* Content */
.a-propos-content {
	width: calc(30% - 10px);
	margin-right: 3rem;
	margin-top: 2rem;
}

.a-propos-container-w {
	display: flex;
	background-size: 13%;
}
	.container-content {
		width: 40%;
	}

		/* Container carousel */
		.container-carousel {
			width: 58%;
			margin: auto 2rem 2rem auto; /* top right bottom left  */
		}
			.items {
				width: 100%;
				height: 100%;
			}



/* Nav Carousel */
.owl-nav {
	font-size: 35px;
	justify-content: space-between;
}
	.site-main .owl-carousel .owl-nav .owl-next {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 50px;
			background: rgba(111,106,101,0.6);
		}
			.owl-nav .owl-next span {
				color: #FFF;
			}

				.site-main .owl-carousel .owl-nav .owl-next:hover {
					background: rgba(241, 239, 236,1);
				}
					.site-main .owl-carousel .owl-nav .owl-next:hover span {
						color: #333;
					}

	.site-main .owl-carousel .owl-nav .owl-prev {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 50px;
		background: rgba(111,106,101,0.8);
	}
			.owl-nav .owl-prev span {
				color: #FFF;
			}

			.site-main .owl-carousel .owl-nav .owl-prev:hover {
				background: rgba(241, 239, 236,1);
			}
				.site-main .owl-carousel .owl-nav .owl-prev:hover span {
					color: #333;
				}

/* Member List */
.a-propos-equip-member {
	margin: auto auto auto 0; /* top right bottom left  */
}
	.a-propos-equip-member > h3 {
		margin-top: 0;
		font-size: 20px;
	}

		.a-propos-equip-member > ul {
			padding: 0;
			margin: 0;
		}
			.a-propos-equip-member > ul > li {
				list-style: none;
				font-size: 15px;
				margin-bottom: 5px;
				text-align: start;
				padding: 10px 0;
			}


/* Superfly menu */

.sfm-sidebar-close {
	float: right;
}
	#sfm-sidebar .sfm-sidebar-close:after, #sfm-sidebar .sfm-sidebar-close:before {
		background-color: #6f6a65;
	}

/*------------ Page Contact ----------------------------------------------*/

/* Container Principal */
.contact-container {
	display: flex;
	width: 100%;
	/*height: 100vh;*/
	justify-content: space-between;
	background: url("./img/HEXAGONES.png") center / contain no-repeat ;
	background-size: 11%;
}

.conteneur_coordonnnees_header {
	max-width: 80%;
	margin: auto;
}
/* Site title */
.page-template-template-contact	.site-header {;
		position: absolute;
		z-index: 1;
		width: 100%;
		text-align: center;
	}
		.site-title {
			font-size: 14px;
			text-align: center;
		}
			/* link child Site title  */
			.site-title > a {
				text-decoration: none;
				color: #6f6a65;
			}

			.sfm-navicon-button {
				margin-right: 5px;
			}

/* Container gauche */
.contact-entry-header {
	width: 50%;
	margin: auto 5rem;

}

.contact-entry-title {
	font-size: 20px;
	color: #6f6a65;
	margin-bottom: 20px;
}

/* Social network */
/* Icon */
.fa-phone-alt:before,
.fa-map-marker-alt:before {
	margin-right: 5px;
}

.conteneur_adresse_topheader,
.conteneur_telephone_topheader {
	font-size: 15px;
	color: #6f6a65;
}
	#telephone_topheader > a {
		text-decoration: none;
		color: #6f6a65;
	}

.conteneur_social_top_header {
	flex-direction: column;
	text-align: center;
	gap: 0.7rem;
	padding: 1rem;
	position: absolute;
	top: 50%;
	margin: auto 0;
	display: flex;
}

	#facebook_topheader,
	#twitter_topheader,
	#instagram_topheader {
		border: 2px solid #6f6a65;
		border-radius: 90%;
		width: 30px;
	}

		#facebook_topheader > a,
		#twitter_topheader > a,
		#instagram_topheader > a{
			color: #6f6a65;
			display: inline-block;
			width: calc(100% + 0.7rem);
			transform: translateX(-0.4rem);
		}
			#facebook_topheader:hover,
			#twitter_topheader:hover,
			#instagram_topheader:hover
			{
				border: 2px solid rgba(111,106,101,0.4);
				cursor: pointer;
			}
					#facebook_topheader > a:hover,
					#twitter_topheader > a:hover,
					#instagram_topheader > a:hover {
						color: rgba(111,106,101,0.4);
					}

/* Formulaire de contact */

.contact-info {
	margin-bottom: 20px;
}

.wpcf7-form {
	margin-top: 30px;
}
	.wpcf7-form input {
		width: calc(50% - 10px);
		font-size: 15px;
		height: 50px;
		padding: 12px;
		border: none;
	}
	.form-name,
	.form-tel {
		margin-right: 15px;
		margin-bottom: 15px;
		}

	.form-submit > input {
		padding: 0;
		background-color: #F1EFEC;
		color: #707070;
		font-size: 15px;
		width: 200px;
		float: right;
	}

	.wpcf7-form textarea {
		font-size: 15px;
		padding: 12px;
		min-height: 200px;
		max-height: 400px;
		width: 100%;
		resize: vertical;
		margin-bottom: 20px;
		margin-top: 10px;
		border: none;
	}

/* style de la carte  */

/* Container droit */
.contact-entry-content {
	margin: 0;
	min-width: 50%;
}
	.map {
		width: 100%;
		height: 100%;
	}
		iframe {
			width: 100%;
			height: 100vh;
		}

/* Site info Footer*/
/* Permet d'appliquer la position absolute uniquement sur la page contact  */
.page-template-template-contact .site-info {
	position: absolute;
	bottom: 0;
	z-index: 1;
}

/*------------ Media Queries ----------------------------------------------*/

/* Vue Téléphone */
@media (min-width: 1px) and (max-width: 589px) {

	/* Page de contact */


	.contact-container {
		display: block;
	}

	.contact-entry-header {
		width: 100%;
		margin: 0;
	}

	.contact-entry-title {
		font-size: 15px;
	}

	.page-template-template-contact .site-header,
	.page-template-template-contact .site-info{
		position: relative;
	}

	.conteneur_adresse_topheader, .conteneur_telephone_topheader {
		font-size: 12px;
	}

	.wpcf7-form input {
		width: 100%;
		margin-bottom: 0.7rem;
		font-size: 11px;
	}

	.wpcf7-form textarea {
		font-size: 11px;
	}

	.page-template-template-contact .site-header {
		position: relative;
	}
	.page-template-template-contact .site-info{

	}

	.contact-container {
		background: none;
	}

	.contact-entry-header {
		width: 80%;
		margin-left: 3rem;
	}



	/* page à propos */

	.page-template-template-a-propos .conteneur_social_top_header {
		top: 1%;
	}
	#facebook_topheader,
	#twitter_topheader,
	#instagram_topheader	{
			width: 27px;
		}

	.page-template-template-a-propos .site-content h3 {
		/*	TODO: a modifier le !important fait moche */	font-size: 12px !important;

	}

	.a-propos-entry-header {
		display: block;
	}

	.a-propos-equip-member > ul > li {
		font-size: 10px;
	}


	.page-template-template-a-propos .honeycomb {
		background-position: 10% 100%;
		background-size: 0;
	}

	.page-template-template-a-propos .site {
		background-position: 100% 0;
		background-size: 0;
	}

	.a-propos-content {
		margin: 0;
		width: 100%;
	}


	.page-template-template-a-propos .content-area {
		margin: 0;
		width: 100%;
	}

	/* Carousel */
	.container-carousel {
		margin: 0;
	}

	/* Page d'accueil */
	.page-template-template-accueil .site-content {
		background: url("./img/HEXAGONES.png") 50% 22% / contain no-repeat;
		background-size: 15%;
	}

	.d-fs-20 {
		margin: 0;
	}
		.d-fs-20 > h2 > a {
			font-size: 15px;
		}

	.a-propos-container-w {
		display: block;
	}

	.container-carousel {
		width: 100%;
	}

	.accueil-container-content {
		width: 90%;
	}

	p {
		font-size: 10px;
	}

	.site-info,
	.site-title > a {
		font-size: 10px;
	}

	.sfm-nav > div > ul > li > a {
		float: right;
		width: 80%;
	}
}

/* Vue Tablette */

@media (min-width: 590px) and (max-width: 991px) {


	/* Page de contact */

	.contact-container {
		display: block;
	}

	.contact-entry-header {
		width: 100%;
		margin: 0;
	}

	.contact-entry-title {
		font-size: 15px;
	}

	.conteneur_adresse_topheader, .conteneur_telephone_topheader {
		font-size: 12px;
	}

	.wpcf7-form input {
		margin-bottom: 0.7rem;
		font-size: 11px;
    }

	.wpcf7-form textarea {
		font-size: 11px;
	}

    .page-template-template-contact .site-header,
    .page-template-template-contact .site-info{
        position: relative;
    }

    /* Page a propos */

	.page-template-template-contact .conteneur_social_top_header {
		top: 38%;
	}

	.conteneur_social_top_header {
		top: 55%;
	}

	.page-template-template-a-propos .site-content h3 {
		/*	TODO: a modifier le !important fait moche */	font-size: 9px !important;
	}

	.a-propos-equip-member > ul > li {
		font-size: 8px;
	}

	.page-template-template-a-propos .honeycomb {
		background-position: 10% 100%;
		background-size: 20%;
	}

	.page-template-template-a-propos .site {
		background-position: 100% 0;
		background-size: 20%;
	}

	.contact-container {
		background: none;
	}

	.page-template-template-accueil .site-content {
		background: url("./img/HEXAGONES.png") 50% 22% / contain no-repeat ;
		background-size: 15%;
	}

	.d-fs-20 > h2 > a {
		font-size: 12px;
	}

	/* Ajuste la taille des textes */
	.page-template-template-accueil p {
		text-align: start;
	}
		p {
			font-size: 7px;
		}

	.site-info,
	.site-title > a {
		font-size: 10px;
	}
}

/* Vue ordinateur taille S */

@media (min-width: 992px) and (max-width: 1499px) {


	/* Page de contact */

	.contact-entry-title {
		font-size: 15px;
	}

	.conteneur_adresse_topheader, .conteneur_telephone_topheader {
		font-size: 12px;
	}

	.wpcf7-form input {
		font-size: 11px;
	}

	.wpcf7-form textarea {
		font-size: 11px;
	}


	/* Page a propos */
	.conteneur_social_top_header {
		top: 52%;
	}

	.page-template-template-a-propos .honeycomb {
		background-position: 10% 100%;
		background-size: 14%;
	}

	.page-template-template-a-propos .site {
		background-position: 100% 0;
		background-size: 18%;
	}

	.a-propos-equip-member > ul > li {
		font-size: 10px;
	}


	.page-template-template-a-propos .site-content h3 {
		/*	TODO: a modifier le !important fait moche */	font-size: 11px !important;
	}

	.page-template-template-accueil .site-content {
		background: url("./img/HEXAGONES.png") 50% 22% / contain no-repeat ;
		background-size: 14%;
	}

	.d-fs-20 > h2 > a {
		font-size: 15px;
	}

	/* Ajuste la taille des textes */
	.page-template-template-accueil p {
		text-align: start;
	}
		p {
			font-size: 9px;
		}

	.site-info,
	.site-title > a {
		font-size: 12px;
	}
}

/* Vue Ordinateur taille M */

@media (min-width: 1200px) and (max-width: 1500px) {

	/* Page à propos */
	.a-propos-equip-member > ul > li {
		font-size: 13px;
	}


	.page-template-template-a-propos .site-content h3 {
		/*	TODO: a modifier le !important fait moche */ font-size: 15px !important;
	}



	/* Page d'accueil */
	.page-template-template-accueil .site-content {
		background: url("./img/HEXAGONES.png") 50% 15% / contain no-repeat ;
		background-size: 13%;
	}

	/* Ajuste la taille du titre */
	.d-fs-20 > h2 > a {
		font-size: 17px;
	}


	/* Ajuste la taille des textes */
	.page-template-template-accueil p {
		text-align: start;
	}

		p {
			font-size: 11px;
		}

	/* Ajuste la taille du footer */
	.site-info,
	.site-title > a {
		font-size: 13px;
	}

}
