/*
Theme Name: Agence Point Com

WooCommerce styles override
*/
/**
 * WooCommerce color variables
 */
/**
 * Imports
 */
/**
 * Shop tables
 */
table.shop_table_responsive thead {
    display: none;
}

table.shop_table_responsive tbody th {
    display: none;
}

table.shop_table_responsive tr td {
    display: block;
    text-align: center;
    clear: both;
}

table.shop_table_responsive tr td:before {
    content: attr(data-title) " : ";
    float: left;
}

table.shop_table_responsive tr td.product-thumbnail:before {
    content: "";
}

table.shop_table_responsive tr td.product-remove a {
    border-radius: 50%;
    border: 1px solid #dd9625;
    width: 26px;
    height: 26px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    padding-left: 1px;
}
table.shop_table_responsive tr td.product-remove a:hover{
    background-color: #dd9625;
    color: #11272c;
}

table.shop_table_responsive .product-remove{
    width: 10%;
}
table.shop_table_responsive .product-thumbnail{
    width: 15%;
}
table.shop_table_responsive .product-name{
    width: 30%;
}
table.shop_table_responsive .product-price{
    width: 15%;
}
table.shop_table_responsive .product-quantity{
    width: 15%;
}
table.shop_table_responsive .product-subtotal{
    width: 15%
}




table.shop_table_responsive tr td.product-remove:before {
    display: none;
}

table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
    display: none;
}

table.shop_table_responsive tr td.download-actions .button {
    display: block;
    text-align: center;
}

.cart_totals .shop_table tr{
    border-bottom: 1px solid #dd9625;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: block;
}

.cart_totals .shop_table tr.woocommerce-shipping-totals{
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#moyen_paiement,
.woocommerce-checkout h3{
    text-transform: uppercase;
    /*font-weight: 100;*/
    letter-spacing: 1px;
    position: relative;
}

#moyen_paiement{
    margin-top: 0;
    padding-left: 20px;
    padding-top: 20px;
}

#jckwds-delivery-time {
    background-color: #11272c!important;
    border: 1px solid #dd9625!important;
    border-radius: 0!important;
    color: #dd9625!important;
    padding: 10px;
    letter-spacing: 1px;
    -webkit-appearance: none;
    position: relative;
    width: 100%;
}
/*.woocommerce-order-received .woocommerce-order-details .shop_table{
    display: none;
}*/
.woocommerce-order-received .woocommerce-order-details,
.woocommerce-order-received .woocommerce-customer-details,
.woocommerce-order-received .woocommerce-thankyou-order-details,
.woocommerce-order-received .woocommerce-thankyou-order-received {
    padding: 15px;
    border: 1px solid #dd9625;
    background-color: rgba(17,39,44,0.6);
    margin-bottom: 50px;
}

.woocommerce-NoticeGroup-checkout{
    width: 100%;
    padding: 15px;
    border: 1px solid #dd9625;
    background-color: #e2401c;
    margin-bottom: 50px;
}

.woocommerce-additional-fields h3{
    display: none;
}
#moyen_paiement,
.woocommerce-checkout #jckwds-fields,
.woocommerce-checkout .woocommerce-checkout-payment,
.woocommerce-checkout #order_review>.content-review-order{
    background-color: rgba(17,39,44,0.6);
    margin-bottom: 0;
}

.woocommerce-checkout .content-review-order{
    padding: 10px 10px 0;
}

.woocommerce-checkout .woocommerce-checkout-payment{
    padding: 0 20px 20px;
}

.woocommerce-checkout #jckwds-fields{
    padding: 20px;
}

.woocommerce-checkout #jckwds-fields h3{
    margin-top: 0;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table{
    margin-bottom:0;
}

.woocommerce-checkout .product-total{
    vertical-align: baseline;
}

.woocommerce-checkout dl.variation{
    margin-top: 5px;
    margin-bottom: 5px;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table{
    border-collapse: collapse;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table thead tr{
    border-bottom: 1px solid #dd9625;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table tfoot{
    border-bottom: 1px solid #dd9625;
    border-top: 1px solid #dd9625;
}


.woocommerce-checkout .woocommerce-checkout-review-order-table th,
.woocommerce-checkout .woocommerce-checkout-review-order-table td{
    padding-top:10px;
    padding-bottom: 10px;
    text-align: left;
}


.woocommerce-checkout .woocommerce-checkout-review-order .payment_methods{
    /*margin-left:0;*/
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

.woocommerce-checkout .woocommerce-checkout-review-order .cart-subtotal>th,
.woocommerce-checkout .woocommerce-checkout-review-order .cart-subtotal>td{
    padding-top:15px;
}

.woocommerce-checkout .woocommerce-checkout-review-order .order-total th{
    text-transform: uppercase;
}

.woocommerce-checkout .woocommerce-checkout-review-order .order-total span{
    color:#dd9625;
}

.woocommerce-checkout .woocommerce-checkout-review-order  .place-order .woocommerce-terms-and-conditions-wrapper{
    margin-bottom: 5px;
}

.woocommerce-checkout .woocommerce-checkout-review-order  .place-order button{
    display:block;
    margin: 30px auto 20px;
}

/*.woocommerce-checkout #order_review,
.woocommerce-checkout #customer_details{
    padding-left:10px;
    padding-right: 10px;
}*/

/*.woocommerce-checkout #order_review{
    width:40%;
}*/

/*.woocommerce-checkout #customer_details{
    width:60%;
}*/


.woocommerce-checkout form.woocommerce-checkout{
    display: flex;
    flex-wrap: wrap;
}

abbr.required{
    color:#FFF;
    text-decoration: none;
}
#jckwds-fields .description{
    color: #dd9625;
}
.jckwds-delivery-time label{
    display: block;
}

#place_order{
    border:1px solid #dd9625;
    padding:8px 15px;
    text-transform: uppercase;
    color: #FFF;
    background: transparent;
    transition: .2s ease-in-out;
    font-size: 16px;
    border-radius: 0;
}

#place_order:hover{
    background-color: #dd9625;
}
.woocommerce-shipping-calculator input,
.woocommerce-checkout p .select2-selection,
.woocommerce-address-fields p input,
.woocommerce-additional-fields__field-wrapper span textarea,
.woocommerce-billing-fields p input{
    border: 0px;
    border-radius: 0;
    background-color: rgba(17,39,44,0.6);
    border:1px solid #dd9625;;
    color: #FFF !important;
    width: 100%;
    margin-bottom: 0;
    padding: 8px 10px;
}

.woocommerce-checkout .checkout_coupon,
.woocommerce-checkout .woocommerce-form-login-toggle,
.woocommerce-checkout .woocommerce-form-login,
.page-template-default .woocommerce-form-coupon-toggle {
    padding: 15px;
    border: 1px solid #dd9625;
    background-color: rgba(17,39,44,0.6);
    margin-bottom: 50px;
}
.select2-container, .select2-dropdown, .select2-search, .select2-results {
-webkit-transition: none !important;
-moz-transition: none !important;
-ms-transition: none !important;
-o-transition: none !important;
transition: none !important;
}

ul#shipping_method{
    list-style: none;
    padding-left: 0;
}

ul#shipping_method label{
    margin-left: 10px;
}
.woocommerce-billing-fields__field-wrapper p{
    width: 100%;
}
.woocommerce-checkout #order_review,
.woocommerce-checkout #customer_details{
    width:48.5%;
}

.woocommerce-checkout #order_review{
    margin-left: 3%;
}


.woocommerce-info, .woocommerce-noreviews, p.no-comments{
    background-color: transparent !important;
}

.select2-results__options li{
    color: black
}
/*
.select2-selection__rendered{
    color:#FFF !important;
}*/
.pickup-location-field select,
.pickup-location-field input{
    color: black;
}
.select2-selection--single{
    padding:0 !important;
}

.woocommerce-thankyou-order-details{
    list-style: none;
    /*padding:0;*/
    /*margin:0;*/
}

.woocommerce-account .entry-header{
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.woocommerce-account .entry-header,
.woocommerce-account .entry-content{
    z-index: 999;
    position: relative;
}

.woocommerce-account .site-content .woocommerce{
    max-width: 1420px;
    margin:50px auto;
}
.woocommerce-account .entry-content{
    padding-left:20px;
    padding-right:20px;
}

.woocommerce-account .site-content .woocommerce{
    border: 1px solid #FFF;
    padding:20px
}

/*.woocommerce-account .entry-content>.woocommerce{
    display: flex;
}*/
.woocommerce-account table.shop_table_responsive tr td{
    padding-top: 30px;
}

.woocommerce-account .woocommerce a:hover,
.woocommerce-MyAccount-navigation .woocommerce li a:hover{
    color: #FFF;
}

.woocommerce-account .woocommerce-Button{
    width: max-content;
    align-self: center;
}

.woocommerce-account .site-content input:not([type=checkbox]){
    width: 100%;
}

.woocommerce-account .woocommerce-Message--info{
    line-height: 40px;
}

.woocommerce-account #customer_login{
    max-width: 700px;
    margin: 0 auto;
}

.woocommerce-account #customer_login button[type="submit"]{
    margin-top: 30px;
}
body.woocommerce-account .site-content .woocommerce .woocommerce-button {
    border: 1px solid #dd9625;
    padding: 8px 15px;
    text-transform: uppercase;
    color: #FFF;
    background: transparent;
    transition: .2s ease-in-out;
    font-size: 16px;
    border-radius: 0;
}

/*.woocommerce-account .site-content .woocommerce{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}*/

.woocommerce-account .site-content .woocommerce input{
    background-color: transparent;
    border: 1px solid #dd9625;
    color : #FFF;
    padding :5px 10px;
    border-radius: 0;
}

.woocommerce-account #customer_login .u-column2.col-2{
    border-top: 1px solid #dd9625;
    margin-top: 40px;
    padding-top: 40px;
}

/*body.woocommerce-account .site-content .woocommerce .woocommerce-button{
    width: min-content;
    margin:0 auto;
    padding:5px 10px
}
*/
.woocommerce-MyAccount-content{
    width:66%;
}

.woocommerce-MyAccount-navigation{
    width:33%;
}

.woocommerce-MyAccount-navigation ul{
    list-style: none;
    padding:0;
    margin:0;
}

.woocommerce-MyAccount-navigation ul li{
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.coupon .input-text{
    margin-bottom: 10px;
    padding: 8px 20px;
    border: 0 none;
    font-size: 1rem;
        border: 1px solid #dd9625;
}
.cart-collaterals {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    top: 0;
    max-width: 400px !important;
    float: right;
    margin-right: 80px;
    margin-top: -130px;
}

@media screen and (min-width: 48em) {
    table.shop_table_responsive thead {
        display: table-header-group;
    }
    table.shop_table_responsive tbody th {
        display: table-cell;
    }
    table.shop_table_responsive tr th, table.shop_table_responsive tr td {
        text-align: left;
    }
    table.shop_table_responsive tr.woocommerce-cart-form__cart-item td{
    	text-align: center;
    }
    table.shop_table_responsive tr td {
        display: table-cell;
    }
    table.shop_table_responsive tr td:before {
        display: none;
    }
}

/**
 * Products
 */
/**
 * Products
 */
ul.products {
    content: "";
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

ul.products li.product {
    list-style: none;
    position: relative;
    margin-bottom: 2em;
}

ul.products li.product .woocommerce-loop-product__title {
    font-size: 1rem;
}

ul.products li.product img {
    display: block;
}

ul.products li.product .button {
    display: block;
}
ul.products li.product .add_to_cart_button{
    border: 1px solid #292929;
    background: #292929;
    text-transform: uppercase;
    padding: 5px 15px;
    margin-bottom: 25px;
}

/* Panier / Checkout / Mon compte */


.woocommerce-cart .entry-header{
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.woocommerce-cart .entry-header,
.woocommerce-cart .entry-content{
    z-index: 999;
    position: relative;
}

.woocommerce-cart .entry-content .woocommerce{
    max-width: 1440px;
    margin:50px auto;
}

/*.woocommerce-cart .entry-content{
    padding-left:20px;
    padding-right:20px;
}*/


.woocommerce-cart table{
    border-collapse: collapse;
}

.woocommerce-cart .woocommerce-cart-form .shop_table th{
    /*border: 1px solid #FFF;*/
    text-align: center;
}

.woocommerce-page input::placeholder{
	color: rgba(255,255,255,0.8);
}

.woocommerce-cart .product-thumbnail img{
    max-width: 110px;
    border: 1px solid #dd9625;
}

table.shop_table_responsive tr.woocommerce-cart-form__cart-item td .quantity .screen-reader-text{
    display: none;
}

.woocommerce-cart .product-thumbnail a{
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;
    text-align: left;
}

.woocommerce-cart tbody .cart_item:first-child .product-thumbnail a{
    margin-top: 16px;
}
.woocommerce-cart tbody .cart_item:last-child .product-thumbnail a{
    margin-bottom: 14px;
}


.shop_table th,
.woocommerce-cart thead th{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color:#dd9625;
    padding: 5px
}

.conteneur_tableau{
    background-color: rgba(17,39,44,0.6);
    padding: 0 80px 20px 80px;
}

.conteneur_code_promopanier{
    margin-left: 80px;
}
.woocommerce-cart tbody .cart_item:first-child{
    border-top: 1px solid #dd9625;
}
.woocommerce-cart tbody .cart_item:last-child{
    border-bottom: 1px solid #dd9625;
}

.woocommerce-cart .product-remove{
    text-align: center;
    font-size: 32px;
}
.woocommerce-checkout button[name="apply_coupon"],
.woocommerce-cart button[name="apply_coupon"],
.woocommerce-cart .product-quantity input{
    background-color: rgba(0,0,0,0);
    outline: none;
    border: 1px solid #dd9625;
    text-align: center;
}

.woocommerce-checkout button[name="apply_coupon"],
.woocommerce-cart button[name="apply_coupon"]{
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.woocommerce-checkout input[name="coupon_code"],
.woocommerce-cart input[name="coupon_code"]{
	color: #333;
}


.woocommerce-cart .coupon{
    margin-top:20px;
    margin-bottom: 20px;
}

.woocommerce-cart .coupon input{
    border-radius: 0;
}


.woocommerce-cart .coupon button,
.woocommerce-cart .button{
    background-color: #dd9625;
    color: #FFF;
    border: 1px solid #dd9625;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 8px 20px;
    line-height: 1.5;
}

.woocommerce-cart .button:hover,
.woocommerce-cart .coupon button:hover{
    background-color: transparent;
}
#content .shop_table a,
#content .woocommerce-cart a{
    color: #FFF;
}

.shop_table a:hover,
.woocommerce-cart a:hover{
    color :#dd9625;
}

.woocommerce-cart .wc-proceed-to-checkout a{
    float: right;
    padding:8px 20px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1400px) {
    .cart-collaterals {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1300px) {
    .conteneur_tableau {
        padding: 0 20px 20px 20px;
    }
}

@media screen and (min-width: 48em) {
    ul.products li.product {
        width: 30.7966666667%;
        float: left;
        margin-right: 3.8%;
    }
    ul.products li.product.first {
        clear: both;
    }
    ul.products li.product.last {
        margin-right: 0;
    }
    .columns-1 ul.products li.product {
        float: none;
        width: 100%;
    }
    .columns-2 ul.products li.product {
        width: 48.1%;
    }
    .columns-3 ul.products li.product {
        width: 30.7966666667%;
    }
    .columns-4 ul.products li.product {
        width: 22.15%;
    }
    .columns-5 ul.products li.product {
        width: 16.96%;
    }
    .columns-6 ul.products li.product {
        width: 13.4933333333%;
    }
}

/**
 * Single product
 */
/**
 * Single Product
 */
.single-product div.product {
    content: "";
    display: table;
    table-layout: fixed;
    position: relative;
}

.single-product div.product .woocommerce-product-gallery {
    position: relative;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
    margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    content: "";
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
    list-style: none;
    cursor: pointer;
    float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
    opacity: .5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
    opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
    opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
    width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
    width: 30.7966666667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
    clear: both;
}

.stock:empty:before {
    display: none;
}

.stock.in-stock {
    color: #0f834d;
}

.stock.out-of-stock {
    color: #e2401c;
}

/**
 * Checkout
 */
/**
 * Checkout
 */
@media screen and (min-width: 768px) {
    .col2-set .form-row-first {
        float: left;
        margin-right: 3.8%;
    }
    .col2-set .form-row-last {
        float: right;
        margin-right: 0;
    }
    .col2-set .form-row-first,
    .col2-set .form-row-last {
        width: 48.1%;
    }
}

/**
 * General WooCommerce components
 */
/**
 * Header cart
 */
.site-header-cart {
    position: relative;
    margin: 0;
    padding: 0;
    content: "";
    display: table;
    table-layout: fixed;
}

.site-header-cart .cart-contents {
    text-decoration: none;
}

.site-header-cart .widget_shopping_cart {
    display: none;
}

.site-header-cart .product_list_widget {
    margin: 0;
    padding: 0;
}

/**
 * Star rating
 */
.star-rating {
    overflow: hidden;
    position: relative;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    width: 5.3em;
    font-family: 'star';
    font-weight: 400;
}

.star-rating:before {
    content: "\53\53\53\53\53";
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
    color: royalblue;
}

p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    margin-right: 1px;
    font-weight: 400;
}

p.stars a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: "star";
    content: "\53";
    color: #404040;
    text-indent: 0;
    opacity: .25;
}

p.stars a:hover ~ a:before {
    content: "\53";
    color: #404040;
    opacity: .25;
}

p.stars:hover a:before {
    content: "\53";
    color: royalblue;
    opacity: 1;
}

p.stars.selected a.active:before {
    content: "\53";
    color: royalblue;
    opacity: 1;
}

p.stars.selected a.active ~ a:before {
    content: "\53";
    color: #404040;
    opacity: .25;
}

p.stars.selected a:not(.active):before {
    content: "\53";
    color: royalblue;
    opacity: 1;
}

/**
 * Tabs
 */
.woocommerce-tabs ul.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.woocommerce-tabs ul.tabs li {
    display: block;
    margin: 0;
    position: relative;
}

.woocommerce-tabs ul.tabs li a {
    padding: 1em 0;
    display: block;
}

.woocommerce-tabs .panel h2:first-of-type {
    margin-bottom: 1em;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
    text-align: right;
}

.woocommerce-password-strength.strong {
    color: #0f834d;
}

.woocommerce-password-strength.short {
    color: #e2401c;
}

.woocommerce-password-strength.bad {
    color: #e2401c;
}

.woocommerce-password-strength.good {
    color: #3D9CD2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
    box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
    box-shadow: inset 2px 0 0 #e2401c;
}

.required {
    color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
    content: "";
    display: table;
    table-layout: fixed;
    background-color: #0f834d;
    clear: both;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
    background-color: #3D9CD2;
}

.woocommerce-error {
    background-color: #e2401c;
}

.demo_store {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    background-color: #3D9CD2;
    z-index: 9999;
}

@media screen and (min-width: 48em) {
    /**
     * Header cart
     */
    .site-header-cart .widget_shopping_cart {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 999999;
        left: -999em;
        display: block;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
    .site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
        left: 0;
        display: block;
    }
}

/**
 * WooCommerce widgets
 */
/**
 * WooCommerce Price Filter
 */
.widget_price_filter .price_slider {
    margin-bottom: 1.5em;
}

.widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4em;
}

.widget_price_filter .price_slider_amount .button {
    float: left;
}

.widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    cursor: ew-resize;
    outline: none;
    background: royalblue;
    box-sizing: border-box;
    margin-top: -.25em;
    opacity: 1;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background: royalblue;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
    height: .5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
    height: 100%;
}

.woocommerce-table.order_details td{
    text-align: center;
}

.woocommerce-account .entry-header {
    font-size: 1em;
}

#billing_country-button{
    display: none;
}
/* Woocommerce Mod */

.woocommerce-checkout .entry-header,
.woocommerce-cart .entry-header{
    display: none;
}

.head_cart_checkout{
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px auto 40px;
}

.step-order{
    width:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-number{
    width: 40px;
    height: 40px;
    border: 1px solid #dd9625;
    border-radius: 100%;
    color:#FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.woocommerce-cart .step-checkout .step-number,
.woocommerce-cart .step-final .step-number{
    background-color: rgba(0,0,0,0);
}
.woocommerce-cart .step-cart .step-number{
   color: #11272c;
   font-weight: 600;
   background-color: #dd9625;
}

.woocommerce-checkout .step-cart .step-number,
.woocommerce-checkout .step-final .step-number{
    background-color: rgba(0,0,0,0);
}
.woocommerce-checkout .step-checkout .step-number{
   color: #11272c;
   font-weight: 600;
   background-color: #dd9625;
}

.woocommerce-checkout.woocommerce-order-received .step-cart .step-number,
.woocommerce-checkout.woocommerce-order-received .step-checkout .step-number{
    background-color: rgba(0,0,0,0);
    color: #FFF;
}
.woocommerce-checkout.woocommerce-order-received .step-final .step-number{
   color: #11272c;
   font-weight: 600;
   background-color: #dd9625;
}


.payment_method_paypal .about_paypal{
    display: block;
}

.step-text{
    letter-spacing: 1px;
}

@media screen and (max-width:1050px){
    .woocommerce-checkout #order_review,
    .woocommerce-checkout #customer_details{
        width:100%;
    }
    .woocommerce-checkout #order_review{
        margin-left: 0;
    }
}



@media screen and (max-width:767px){
    .woocommerce-cart table tr,
    .woocommerce-cart table{
        /*border: 1px solid #FFF;*/
    }
    .woocommerce-cart tbody .cart_item {
        border-top: 1px solid #dd9625;
    }

    .woocommerce-cart table td{
        padding:10px;
    }

    .woocommerce-cart .product-thumbnail{
        text-align: center;
    }
    table.shop_table_responsive .product-remove,
    table.shop_table_responsive .product-thumbnail,
    table.shop_table_responsive .product-name,
    table.shop_table_responsive .product-price,
    table.shop_table_responsive .product-quantity,
    table.shop_table_responsive .product-subtotal{
        width: 100%;
    }
    .woocommerce-cart .product-thumbnail a{
        text-align: center;
    }
    table.shop_table_responsive tr td:before {
        float: none;
    }
    .cart-collaterals {
        display: block;
        max-width: 400px !important;
        float: none;
        margin-right: auto;
        margin: auto;
        text-align: center;
    }
    .conteneur_tableau {
        padding: 40px 20px 20px 20px;
    }
    .conteneur_code_promopanier {
        margin-left: 0;
        text-align: center;
        margin-bottom: 70px;
    }
    .woocommerce-cart .wc-proceed-to-checkout a {
        float: none;
    }
}

@media screen and (max-width:700px){
    .woocommerce-MyAccount-navigation{
        width: 100%;
        text-align: center;
    }

    .woocommerce-MyAccount-content{
        width:100%;
    }

}

@media screen and (max-width:420px){
    .cart-collaterals {
        max-width: 350px !important;
    }
}

@media screen and (max-width:370px){
    .cart-collaterals {
        max-width: 97% !important;
    }
}





